<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moapps.moviesnews">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" tools:node="remove"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.moapps.moviesnews.di.DIKodein"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="com.moapps.moviesnews.ui.watchtrailer.WatchTrailerActivity" />
        <activity android:name="com.moapps.moviesnews.ui.moviedetails.MovieDetailsActivity" />
        <activity android:name="com.moapps.moviesnews.ui.search.SearchActivity" />
        <activity android:name="com.moapps.moviesnews.ui.dashboard.DashboardActivity">

        </activity>
        <activity android:name="com.moapps.moviesnews.ui.splash.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.startapp.sdk.APPLICATION_ID"
            android:value="202202413" />

    </application>

</manifest>